<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      Contacts
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="openAddUserDialog()">
        <mat-icon aria-label="Ajouter un contact" matTooltip="Ajouter un contact" color="accent">add_circle</mat-icon>
      </button>
    </mat-toolbar>
    <form class="example-form" style="margin: 0 10px 0 10px;">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Rechercher" matInput [formControl]="myControl" [matAutocomplete]="auto" #searchUserInput>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <mat-nav-list>
      <a mat-list-item *ngFor="let user of users" [routerLink]="['/dashboard/user', user.id]" routerLinkActive="active">
        {{ user.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>pgp-chrome-ext</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="generateList()">
          <mat-icon>dialpad</mat-icon>
          <span>Generate contacts</span>
        </button>
        <button mat-menu-item (click)="removeContacts()">
          <mat-icon>voicemail</mat-icon>
          <span>Remove all contacts</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
