<mat-tab-group *ngIf="user">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">lock</mat-icon>
      Chiffrer
    </ng-template>
    <div class="container">
      <h3 mat-h3>Chiffrer un message pour {{ user.name }}</h3>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea matInput placeholder="Entrez le texte à chiffrer" name="message" [(ngModel)]="toEncrypt"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field>
        <div class="text-center">
          <button mat-flat-button color="primary" (click)="onEncrypt()">Chiffrer</button>
        </div>
        <mat-form-field class="example-full-width" appearance="fill" *ngIf="encrypted" >
          <textarea matInput readonly [value]="encrypted"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="10"></textarea>
        </mat-form-field>
      </form>
    </div>


  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">lock_open</mat-icon>
      Déchiffrer
    </ng-template>
    <div class="container">
      <h3 mat-h3>Déchiffrer un message de {{ user.name }}</h3>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea matInput placeholder="Entrez le texte à déchiffrer" name="encrypted" [(ngModel)]="toDecrypt"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field>
        <div class="text-center">
          <button mat-flat-button color="primary" (click)="onEncrypt()">Déchiffrer</button>
        </div>
        <mat-form-field class="example-full-width" appearance="fill" >
          <textarea matInput disabled [value]="decrypted"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="10"></textarea>
        </mat-form-field>
      </form>
    </div>

  </mat-tab>
</mat-tab-group>
